<section class="about">
  <div id="about" class="offset">
    <div class="col-md-12 narrow text-center">
      <h1>Sobre Mi</h1>
      <p class="lead">Aquí podrás saber un poco mas acerca de mi!</p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg 3 col-md-3 col-sm-12 col-xs-12">
          <div class="card">
            <div class="row">
              <div class="col-md-6">
                <div class="col-md-12">
                    <div class="img-perfil">
                      <img src="./assets/img/testimonial-6.jpg" alt="">
                    </div>
                    <div class="about-info">
                        <p><span class="title-s">Nombre: </span> <span>Erick Morales Severino</span></p>
                        <p><span class="title-s">Perfil: </span> <span>Analista Programador Computacional</span></p>
                        <p><span class="title-s">Sexo: </span> <span>Masculino</span></p>
                        <p><span class="title-s">Edad: </span> <span>28 años</span></p>
                        <p><span class="title-s">Hijos: </span> <span>1 hija</span></p>
                      </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="titulo-info">
                    <h3>Sobre Mi</h3>
                </div>
                <div class="parrafo-info">
                    <p class="lead">
                        Estudiante de analista programador computacional, cursando actualmente los 2 ultimos semestres de la carrera,
                        con conocimientos en desarrollo de aplicaciones Web y de escritorio, nociones de aplicaciones moviles con tecnologia web
                      </p>
                      <p class="lead">
                        Conocimiento de Frameworks de desarrollo web como Django para Python, Angular , React , NodeJS para JavaScript.

                      </p>
                      <p class="lead">
                        Manejo de base de datos relacionales como Oracle, MySQL, PostgreSQL, conocimiento de lenguaje PL/SQL, procedimientos almacenados
                        Triggers, manejo de indices, conocimiento basico de base de datos NO relaciones como MongoDB
                      </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="servicios">
  <div id="servicios">
    <div class="jumbotron">
      <div class="narrow text-center">
          <div class="col-12">
            <h1 class="heading-se">Servicios</h1>
            <div class="heading-underline"></div>
          </div>
          <div class="row text-center">
            <div class="col-md-4">
              <div class="feature">
                  <div class="service-ico">
                      <span class="ico-circle"><img src="./assets/img/telefono-movil.png" alt=""></span>
                    </div>
                  <h3>Diseño Responsive</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ratione delectus eum? Rerum, numquam excepturi repellat unde maiores officia minima aut illum possimus eum repudiandae, qui sapiente dicta ab expedita?</p>
              </div>
            </div>
            <div class="col-md-4">
                <div class="feature">
                  <div class="service-ico">
                      <span class="ico-circle"><img src="./assets/img/programacion-web.png" alt=""></span>
                  </div>
                    <h3>Diseño Responsive</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ratione delectus eum? Rerum, numquam excepturi repellat unde maiores officia minima aut illum possimus eum repudiandae, qui sapiente dicta ab expedita?</p>
                </div>
              </div>
              <div class="col-md-4">
                  <div class="feature">
                      <div class="service-ico">
                          <span class="ico-circle"><img src="./assets/img/computadora.png" alt=""></span>
                        </div>
                      <h3>Diseño Responsive</h3>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ratione delectus eum? Rerum, numquam excepturi repellat unde maiores officia minima aut illum possimus eum repudiandae, qui sapiente dicta ab expedita?</p>
                  </div>
                </div>
          </div>
      </div>
    </div>
  </div>

</section>
<section class="trabajos">
  <div class="fixed-background" id="trabajos">
    <div class="row dark text-center">
      <div class="col-12">
        <h1 class="heading-tr">Trabajos</h1>
        <div class="heading-underline"></div>
      </div>
      <div class="col-md-4">
        <h3>Trabajos Completos</h3>
        <div class="feature">
          <div class="service-ico">
              <span class="ico-circle-tr"><img src="./assets/img/tarea-completada.png" alt=""></span>
          </div>
          <div class="counter-num">
            <h4 class="counter">5</h4>
          </div>
      </div>
      </div>
      <div class="col-md-4">
        <h3>Años como desarrollador</h3>
        <div class="feature">
          <div class="service-ico">
              <span class="ico-circle-tr"><img src="./assets/img/calendario.png" alt=""></span>
          </div>
          <div class="counter-num">
            <h4 class="counter">0</h4>
          </div>
      </div>
      </div>
      <div class="col-md-4">
        <h3>Años como soporte TI</h3>
        <div class="feature">
          <div class="service-ico">
              <span class="ico-circle-tr"><img src="./assets/img/calendario.png" alt=""></span>
          </div>
          <div class="counter-num">
            <h4 class="counter">7</h4>
          </div>
      </div>
      </div>
      <div class="col-md-4">
        <h3>Lenguajes Manejados</h3>
        <div class="feature">
          <div class="service-ico">
              <span class="ico-circle-tr"><img src="./assets/img/javascript.png" alt=""></span>
          </div>
          <div class="counter-num">
            <h4 class="counter">4</h4>
          </div>
      </div>
      </div>
      <div class="col-md-4">
        <h3>Frameworks Manejados</h3>
        <div class="feature">
          <div class="service-ico">
              <span class="ico-circle-tr"><img src="./assets/img/framework.png" alt=""></span>
          </div>
          <div class="counter-num">
            <h4 class="counter">6</h4>
          </div>
      </div>
      </div>
      <div class="col-md-4">
        <h3>Idiomas</h3>
        <div class="feature">
          <div class="service-ico">
              <span class="ico-circle-tr"><img src="./assets/img/idiomas.png" alt=""></span>
          </div>
          <div class="counter-num">
            <h4 class="counter">2</h4>
          </div>
      </div>
      </div>
      <div class="col-md-4">
        <h3>Base de datos</h3>
        <div class="feature">
          <div class="service-ico">
              <span class="ico-circle-tr"><img src="./assets/img/base-de-datos.png" alt=""></span>
          </div>
          <div class="counter-num">
            <h4 class="counter">3</h4>
          </div>
      </div>
      </div>
    </div>
  </div>
</section>
